/* Global styles for body and html */
body, html {
    background-color: rgb(250, 250, 250);
    color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    font-family: nobel, sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
}

/******LANDING PAGE******/

.container {
    position: relative; 
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}


/* Styles for the login and sign up buttons on landing */
.nav-item {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    background-color: rgb(247, 226, 248);
    border: none;
    cursor: pointer;
    position: absolute;
    top: 2%; 
    right: 2%; 
    border-radius: 30px;
}

.nav-item:hover {
    background-color: rgb(231, 199, 233);
    color: rgb(4, 15, 45);
    transition: 0.5s;
}

.signup-btn {
    right: 7%; 
}
.login-btn {
    right: 5%; 
}

.container img{
    width: 100%
}

.container .title{
    position: absolute;
    color: white;
    font-family: "Rampart One";
    
    top: 10%;
    font-size: 150px;
}
.container .text2{
    position: absolute;
    color: white;
    font-family: "Dancing Script";
    text-align: center;
    top: 46%;
    font-size: 50px;
}

.container .search-box{
    position: absolute;
    top: 55%;
    align-items: center;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: white;
    border-radius: 30px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.container .search-box .container{
    right: 5px;
    width: 30px;
    height: 30px;
}

.container .search-box:hover input{
    width : 350px;
}

.container .search-box input{
    width: 0;
    outline: none;
    border: none;
    font-size: 16px; 
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}

.container .search-box a .fas{
    color:black;
    font-size: 18px;
}
.search-btn {
    width: auto;
    background-color: transparent; /* Transparent background */
    border: none; /* No border */
    cursor: pointer;
}


.rampart-one-regular {
    font-family: "Rampart One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.dancing-script> {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: medium;
}

/******SIGNUP PAGE******/
.signup-container {
    position: fixed; 
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url('../static/photos/copy-space-ingredients-cookies.jpg');
    justify-content: center;
    align-items: center;
    display: flex;
}
.signup-container .signup-title{
    position: absolute;
    color: rgba(59,23, 0, 255);
    font-family: "Rampart One";
    
    top: 2%;
    left: 10%;
    font-size: 90px;
}
.signup-container .signup-subtitle{
    position: absolute;
    color: rgba(59,23, 0, 255);
    font-family: "Rampart One";
    
    top: 40%;
    left: 30%;
    font-size: 50px;
}
.signup-container .signup-form{
    position: absolute;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 10%;
}

.signup-container .switch-to-login{
    font-family: "Dancing Script";
    color: rgba(59,23, 0, 255);
}
.signup-container .switch{
    position: absolute;
    font-family: "Dancing Script";
    color: rgba(59,23, 0, 255);
    top: 55%;
    left: 25%;
    font-size: 25px;
}

.signin-btn-2 {
    color: rgba(59,23, 0, 255);
    text-decoration: none;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    background-color: pink;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 55%; 
    right: 50%; 
    border-radius: 30px;
}
.signin-btn-3 {
    color: rgba(59,23, 0, 255);
    text-decoration: none;
    padding: 20px;
    font-size: 24px;
    font-weight: 500;
    background-color: pink;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 75%; 
    left: 30%; 
    border-radius: 30px;
}
.signin-btn-5 {
    color: rgba(59,23, 0, 255);
    text-decoration: none;
    padding: 20px;
    font-size: 24px;
    font-weight: 500;
    background-color: pink;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 75%; 
    left: 50%; 
    border-radius: 30px;
}
.signup-btn-4 {
    color: rgba(59,23, 0, 255);
    text-decoration: none;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    background-color: pink;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 55%; 
    right: 50%; 
    border-radius: 30px;
}

body {font-family: Arial, Helvetica, sans-serif;}
    * {box-sizing: border-box;}

.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    padding: 10px;
    background: pink;
    color: white;
    min-width: 40px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

.input-field:focus {
    border: 2px solid rgb(255, 30, 244);
}

 /* Set a style for the submit button */
.btn {
    background-color: pink;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
}

.btn:hover {
    opacity: 1;
}

/******LISTINGS PAGE******/

/******NAVIGATION BAR******/
/* Navigation bar styles */
#listings-nav {
    background-color: rgb(247, 226, 248);
    overflow: hidden;
    position: fixed;
    display: block;
    top: 0%;
    left: 0%;
    right: 0%;
    transition: top 0.4s;
    box-shadow: 2px 2px 5px rgb(247, 226, 248);
    z-index: 1;
}

.playfair{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.listings-nav-item {
    color: #000000;
    float: right;
    display: block;
    text-align: center;
    padding: 22px;
    text-decoration: none;
    font-family: playfair;
    font-size: 20px;
    font-weight: 500;
}

.listings-nav-item:hover {
    background-color: rgb(white);
    color: #000000;
    transition: 0.5s;
}

.listings-nav-item:hover:after {
    transform: scaleX(1);
}

.listings-nav-item::after {
    display: block;
    content: '';
    border-bottom: solid 3px #f387ff;  
    transform: scaleX(0);  
    transition: 350ms ease-in-out;
    transform-origin: 0% 50%;
}

/* Styles for the listings container */
.listings-container {
    position: absolute;
    top: 5%;
    width: 90%;
    background-color: #fff;
    margin-top: 60px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
/**********ITEM BOXES**********/
/* Item box styles */
.item-box {
    width: (33.33% - 20px);
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    text-align: left;
    text-decoration: none;
    color: #333;
}

.item-box:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.item-box img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.item-box h3 {
    margin: 0;
    font-size: 18px;
}

.item-box p {
    margin: 5px 0;
}

/**********ITEM PAGE**********/
.item-container{
    height: 200%;
    width: 100%;
    background: pink;
    display: grid;
    align-items: flex-start;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
}
.item-container .item-title{
    position: absolute;
    color: white;
    font-family: "Rampart One";
    
    left: 3%;
    top: 7%;
    font-size: 70px;
}
.item-container img{
    margin-top: 25%;
    margin-left: 5%;
    width: 100%;
    height: auto
}
.item-container .bakery{
    margin-top: 35%;
    margin-left: 10%;
    font-family:"Dancing Script";
    font-size: 45px;
    color: #333;
}
.item-container .bakery .info{
    font-family:'Segoe UI';
    font-size: 30px;
    color: #333;

    margin-top: 2%;
    margin-right:1%
}
/**********FILTERS**********/
/* Styles for the filters container */
/* Popup container */
.box {
    background-color: white;
    width: 10%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box a {
    padding: 15px;
    border-radius: 3px;
    text-decoration: none;
}

.modal {
    position: fixed;
    inset: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.content {
    position: relative;
    background: white;
    padding: 1em 2em;
    border-radius: 4px;
}

.modal:target {
    display: flex;
}
.filters {
    width: 20%;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    position: fixed; /* Set the position to fixed */
    top: 5%; /* Adjust the top position to make it below the navigation bar */
    left: 5px; /* Align it to the left side of the page */
}

/* Styles for each filter item */
.filter-item {
    margin-bottom: 10px;
}
/* Styles for the dropdown labels */
.dropdown-label {
    cursor: pointer;
}

/* Styles for the dropdown content */
.dropdown-content {
    width: 500px;
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
}

/* Show the dropdown content when the checkbox is checked */
.filter-item input[type="checkbox"]:checked + .dropdown-label + .dropdown-content {
    display: block;
}


/********BAKER HOME PAGE********/
.baker-home-container {
    position: relative; 
    width: 100%;
    height: 100%;
    background-size: cover;
    background:rgb(235, 199, 237);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center-align the content horizontally */
    padding: 20px; /* Add some padding around */
}

/******Error PAGE**********/
.error{
    position: fixed; 
    width: 100%;
    height: 100%;
    background-size:cover;
    background-image: url('../static/photos/beth-macdonald-V6LEV6CBVLw-unsplash.jpg');
    justify-content: center;
    align-items: center;
    display: flex;
}
.error-container{
    background-color: rgb(90, 50, 50);
    height: (50% - 15px);
    width: 50%;
}
.error-container .err-msg{
    position: relative;
    margin-bottom: 10%;
    color: rgb(247, 226, 248);
    font-family: "Dancing Script";
    text-align: center;
    font-size: 40px;
}
.error-container .return-item {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    background-color: rgb(247, 226, 248);
    border: none;
    cursor: pointer;
    position: absolute;
    top: 53%; 
    right: 50%; 
    border-radius: 30px;
}
.error-container .home-btn {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    background-color: rgb(247, 226, 248);
    border: none;
    cursor: pointer;
    position: absolute;
    top: 53%; 
    right: 42%; 
    border-radius: 30px;
}

.nav-item .add-btn{
    top: 50%;
    right: 20%;
}
.nav-item .edit-btn{
    top: 60%;
    right: 20%;
}
.nav-item .delete-btn{
    top: 70%;
    right: 20%;
}

/* Content Styles */
.baker-content {
    margin-top: 80px; /* Adjust based on the height of the navigation bar */
    padding: 20px;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item-box {
    width: calc(33.33% - 40px);
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    text-align: left;
    color: #333;
}

.add-item-form{
    top:100px;
   
}
.edit-baker-form{
    top:100px;
}
.custom-order-container {
    position: fixed; 
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url('../static/photos/annie-spratt-V1lmayjfBJc-unsplash.jpg');
    justify-content: center;
    align-items: center;
    display: flex;
}
.custom-order-container .custom-order-title{
    position: absolute;
    color: black;
    font-family: "Rampart One";
    
    top: 2%;
    left: 10%;
    font-size: 70px;
}