<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bakemates</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- same nav bar as bakerhome-->
    <div id="listings-nav">
        <a href="{{ url_for('add_item') }}" class="listings-nav-item">Post Item</a>
        <a href="{{ url_for('edit_baker') }}" class="listings-nav-item">Edit Profile</a>
        <a href="{{ url_for('baker_home') }}" class="listings-nav-item">Home</a>
        <!-- Add more links/buttons as needed -->
    </div>
    
    <!-- form to add item to the database -->
    <div id="add-item-form">
        <form action="/additem" method="post">
            <label for="item-name">Item Name:</label>
            <input type="text" id="item-name" name="item_name" required>
            <br>
            <label for="item-description">Item Description:</label><br>
            <input type="text" id="item-description" name="item_description" required>
            <br>
            <label for="item-image">Item Image:</label><br>
            <input type="text" id="item-image" name="item_image" required>
            <br>
            <label for="item-price">Item Price:</label><br>
            <input type="number" id="item-price" name="item_price" required>
            <br>
            <label for="item-quantity">Item Quantity:</label><br>
            <input type="number" id="item-quantity" name="item_quantity" required>
            <br>
            <label>Item Category:</label><br>
            <input type="checkbox" name="item-category" id="bread" value="bread">
            <label for="bread">Bread</label><br>
            <input type="checkbox" name="item-category" id="brownie" value="brownie">
            <label for="brownie">Brownie</label><br>
            <input type="checkbox" name="item-category" id="cake" value="cake">
            <label for="cake">Cake</label><br>
            <input type="checkbox" name="item-category" id="cheesecake" value="cheesecake">
            <label for="cheesecake">Cheesecake</label><br>
            <input type="checkbox" name="item-category" id="cookie" value="cookie">
            <label for="cookie">Cookie</label><br>
            <input type="checkbox" name="item-category" id="cobbler" value="cobbler">
            <label for="cobbler">Cobbler</label><br>
            <input type="checkbox" name="item-category" id="croissant" value="croissant">
            <label for="croissant">Croissant</label><br>
            <input type="checkbox" name="item-category" id="cupcake" value="cupcake">
            <label for="cupcake">Cupcake</label><br>
            <input type="checkbox" name="item-category" id="gelato" value="gelato">
            <label for="gelato">Gelato</label><br>
            <input type="checkbox" name="item-category" id="ice-cream" value="ice-cream">
            <label for="ice-cream">Ice Cream</label><br>
            <input type="checkbox" name="item-category" id="muffin" value="muffin">
            <label for="muffin">Muffin</label><br>
            <input type="checkbox" name="item-category" id="pastry" value="pastry">
            <label for="pastry">Pastry</label><br>
            <input type="checkbox" name="item-category" id="pie" value="pie">
            <label for="pie">Pie</label><br>
            <input type="checkbox" name="item-category" id="tart" value="tart">
            <label for="tart">Tart</label><br>
            <input type="checkbox" name="item-category" id="other" value="other">
            <label for="other">Other</label><br>
            
            <label>Flavor:</label><br>
            <input type="checkbox" name="flavor" id="almond" value="almond">
            <label for="almond">Almond</label><br>
            <input type="checkbox" name="flavor" id="apple" value="apple">
            <label for="apple">Apple</label><br>
            <input type="checkbox" name="flavor" id="banana" value="banana">
            <label for="banana">Banana</label><br>
            <input type="checkbox" name="flavor" id="blueberry" value="blueberry">
            <label for="blueberry">Blueberry</label><br>
            <input type="checkbox" name="flavor" id="caramel" value="caramel">
            <label for="caramel">Caramel</label><br>
            <input type="checkbox" name="flavor" id="carrot" value="carrot">
            <label for="carrot">Carrot</label><br>
            <input type="checkbox" name="flavor" id="cherry" value="cherry">
            <label for="cherry">Cherry</label><br>
            <input type="checkbox" name="flavor" id="chocolate" value="chocolate">
            <label for="chocolate">Chocolate</label><br>
            <input type="checkbox" name="flavor" id="cinnamon" value="cinnamon">
            <label for="cinnamon">Cinnamon</label><br>
            <input type="checkbox" name="flavor" id="coconut" value="coconut">
            <label for="coconut">Coconut</label><br>
            <input type="checkbox" name="flavor" id="coffee" value="coffee">
            <label for="coffee">Coffee</label><br>
            <input type="checkbox" name="flavor" id="ginger" value="ginger">
            <label for="ginger">Ginger</label><br>
            <input type="checkbox" name="flavor" id="hazelnut" value="hazelnut">
            <label for="hazelnut">Hazelnut</label><br>
            <input type="checkbox" name="flavor" id="lemon" value="lemon">
            <label for="lemon">Lemon</label><br>
            <input type="checkbox" name="flavor" id="maple" value="maple">
            <label for="maple">Maple</label><br>
            <input type="checkbox" name="flavor" id="mango" value="mango">
            <label for="mango">Mango</label><br>
            <input type="checkbox" name="flavor" id="matcha" value="matcha">
            <label for="matcha">Matcha</label><br>
            <input type="checkbox" name="flavor" id="mint" value="mint">
            <label for="mint">Mint</label><br>
            <input type="checkbox" name="flavor" id="nuts" value="nuts">
            <label for="nuts">Nuts</label><br>
            <input type="checkbox" name="flavor" id="orange" value="orange">
            <label for="orange">Orange</label><br>
            <input type="checkbox" name="flavor" id="pb" value="pb">
            <label for="pb">Peanut Butter</label><br>
            <input type="checkbox" name="flavor" id="peach" value="peach">
            <label for="peach">Peach</label><br>
            <input type="checkbox" name="flavor" id="pistachio" value="pistachio">
            <label for="pistachio">Pistachio</label><br>
            <input type="checkbox" name="flavor" id="raspberry" value="raspberry">
            <label for="raspberry">Raspberry</label><br>
            <input type="checkbox" name="flavor" id="redvelvet" value="redvelvet">
            <label for="redvelvet">Red Velvet</label><br>
            <input type="checkbox" name="flavor" id="strawberry" value="strawberry">
            <label for="strawberry">Strawberry</label><br>
            <input type="checkbox" name="flavor" id="vanilla" value="vanilla">
            <label for="vanilla">Vanilla</label><br>
            <input type="checkbox" name="flavor" id="other" value="other">
            <label for="other">Other</label><br>
            

            <label>Dietary Restrictions:</label><br>
            <input type="checkbox" name="dietary-restrictions" id="glutenf" value="glutenf">
            <label for="glutenf">Gluten Free</label><br>
            <input type="checkbox" name="dietary-restrictions" id="vegan" value="vegan">
            <label for="vegan">Vegan</label><br>
            <input type="checkbox" name="dietary-restrictions" id="dairyf" value="dairyf">
            <label for="dairyf">Dairy Free</label><br>
            <input type="checkbox" name="dietary-restrictions" id="kosher" value="kosher">
            <label for="kosher">Kosher</label><br>
            <input type="checkbox" name="dietary-restrictions" id="nutf" value="nutf">
            <label for="peanutf">Nut Free</label><br>
            <input type="checkbox" name="dietary-restrictions" id="sugf" value="sugf">
            <label for="sugf">Sugar Free</label><br>
            <input type="checkbox" name="dietary-restrictions" id="lowcarb" value="lowcarb">
            <label for="lowcarb">Low Carb</label><br>
            <input type="checkbox" name="dietary-restrictions" id="paleo" value="paleo">
            <label for="paleo">Paleo</label><br>
            <input type="checkbox" name="dietary-restrictions" id="other" value="other">
            <label for="other">Other</label><br>

            <button type="submit">Add Item</button>

        </form>
    </div>
</body>