<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bakemates-Your Bakery</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Baker Navigation Bar -->
    <!-- SHOULD ADD NAME OR LOGO ON THE LEFT OF THE BAR. already signed in so no reason to have those buttons-->
    <div class = baker-home-container>
    <div id="listings-nav">
        <a href="{{ url_for('baker_profile') }}" class="listings-nav-item">Profile</a>
        <a href="{{ url_for('add_item') }}" class="listings-nav-item">Post Item</a>
        <a href="{{ url_for('edit_baker') }}" class="listings-nav-item">Edit Profile</a>
        <a href="{{ url_for('baker_home') }}" class="listings-nav-item">Home</a>
        <!-- Add more links/buttons as needed -->
    </div>
    
    <!-- once databases are set up, add bakery name to welcome message -->
    <br><br><br>
    <h1>Welcome to {{baker_name}}!</h1>
    
    <h2>Current Listings</h2>
    <!-- Listings Section -->
    <!-- <div class="listings-container">-->
        <!-- ONLY THE LOGGED IN BAKERS BAKERY ITEMS Loop through items and display them in a grid -->
        
        <table border = 1>
            <thead>
                <td>ID</td>
                <td>Name</td>
                <td>Count</td>
                <td>Type</td>
                <td>Flavor</td>
                <td>Dietary Restriction</td>
                <td>Description</td>
                <td>Price</td>
            </thead>
            
            {% for row in rows %}
                <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td> {{row[2]}}</td>
                <td>{{row[3]}}</td>	
                <td>{{row[4]}}</td>	
                <td>{{row[5]}}</td>	
                <td>{{row[6]}}</td>	
                <td>{{row[7]}}</td>	
                </tr>
            {% endfor %}
        </table>
    
</body>
</html>