<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bakemates-Your Bakery</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Baker Navigation Bar -->
    <!-- SHOULD ADD NAME OR LOGO ON THE LEFT OF THE BAR. already signed in so no reason to have those buttons-->
    <div id="baker-listings-nav">
        <a href="bakerhome.html" class="baker-listings-nav-item">Home</a>
        <a href="additem.html" class="baker-listings-nav-item">Post Item</a>
        <a href="editbaker.html" class="baker-listings-nav-item">Edit Profile</a>
        <!-- Add more links/buttons as needed -->
    </div>
    <h1>Welcome, {{ bakery_name }}!</h1>
    
    <h2>Current Listings</h2>
    <!-- Listings Section -->
    <div class="listings-container">
        <!-- ONLY THE LOGGED IN BAKERS BAKERY ITEMS Loop through items and display them in a grid -->
        {% for item in items %}
        
          
</body>
</html>