<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bakemates-Bakery</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Rampart+One&display=swap" rel="stylesheet">
</head>
<style>
    table {
    width: 100%; /* Full width tables */
    border-collapse: collapse; 
}
table, th, td {
    border: 1px solid black;
}
h1 {
    font-family: 'Rampart One', cursive; 
}
</style>
<body>
    <div id="listings-nav">
        <!-- Navigation Bar Logic -->
        {% if user %}
            <a href="{{ url_for('logout') }}" class="listings-nav-item">Log Out</a>
            <a href="{{ url_for('custom_order') }}" class="listings-nav-item">Place Custom Order</a>
        {% else %}
            <a href="{{ url_for('signin') }}" class="listings-nav-item">Sign In</a>
            <a href="{{ url_for('signup') }}" class="listings-nav-item">Sign Up</a>
        {% endif %}
    </div>

    <div class="listings-container">
        {% for item in items %}
        <div class="item-box">
            <a href="/displayItem/?item=(%27{{ item[0] }}%27,%20%27{{ bakery.bakery_id }}%27,%20{{ item[9] }},%20%27{{ item[1] | replace("'", "%27") }}%27,%20None,%20%27{{ item[4] | replace("'", "%27") }}%27,%20None,%20None,%20None,%20None,%20{{ item[9] }},%20%27{{ item[10] | replace("'", "%27") | replace("/", "%2F") }}%27,%20%27{{ bakery.bakery_id }}%27,%20%27{{ bakery.name | replace("'", "%27") }}%27,%20%27{{ bakery.description | replace("'", "%27") }}%27,%204.9,%20%27http://bk003.com%27,%20%27./static/baker/BK002%27,%20%27{{ bakery.bakery_id }}%27,%20%27hello@bk003.com%27,%20%27Baker%20Three%27,%20%27345-678-9012%27,%20%27789%20Pastry%20Rd%27,%20%27baker%27)" style="text-decoration: none; color: rgb(99, 48, 48);">
                <img src="{{ item[10] }}" alt="{{ item[1] }}">
                <h3>{{ item[1] }}</h3>
                <p>{{ item[4] }}</p>
                <p>Bakery: {{ bakery.name }}</p>
                <p>Price: ${{ '%.2f'|format(item[9]) }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</body>
</html>