<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bakemates-Your Bakery</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="listings-nav">
        <a href="{{ url_for('baker_profile') }}" class="listings-nav-item">Profile</a>
        <a href="{{ url_for('add_item') }}" class="listings-nav-item">Post Item</a>
        <a href="{{ url_for('edit_baker') }}" class="listings-nav-item">Edit Profile</a>
        <a href="{{ url_for('baker_home') }}" class="listings-nav-item">Home</a>
    </div>

    <div id="edit-baker-form">
        <br><br><br>
        <h1>Edit Bakery Info</h1>
        <form action="{{ url_for('edit_baker') }}" method="post" enctype="multipart/form-data">
            <label for="bakery-name">Bakery Name:</label>
            <input type="text" id="bakery-name" name="bakery_name" value="{{ baker.name if baker else '' }}">
            <br>
            <label for="bakery-description">Bakery Description:</label>
            <textarea id="bakery-description" name="bakery_description" rows="4" cols="50">{{ baker.description if baker else '' }}</textarea>
            <br>
            <label for="bakery-website">Website:</label>
            <input type="url" id="bakery-website" name="bakery_website" value="{{ baker.website if baker else '' }}">
            <br>
            <label for="bakery-image">Current Image:</label>
            <br>
            {% if baker and baker.image_path %}
                <img src="{{ baker.image_path }}" alt="Current Bakery Image" style="width: 100px; height: auto;">
            {% endif %}
            <br>
            <label for="bakery-image">Change Bakery Image:</label>
            <input type="file" id="bakery-image" name="bakery_image" accept="image/png, image/jpeg">
            <br>
            <button type="submit">Update Bakery Info</button>
        </form>
    </div>
</body>
</html>