<html>
    <head>
        <!-- STYLE INFO -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Rampart+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
     </head>
    <body style="background-color: #ddd;">
        <div class = item-container >
            <div class = item-title>{{ item[3] }}</div>
            <img src= "{{item[9]}}"> 
            <div class = "bakery">bakery name
                <div class = "info">
                    {{ item[5] }} <br>
                    Price: ${{ item[10] }} <br>
                    Gluten-Free: {{ 'Yes' if item[6] else 'No' }} <br>
                    Vegan: {{ 'Yes' if item[7] else 'No' }} <br>
                    Dairy-Free: {{ 'Yes' if item[8] else 'No' }} <br>
                    Nut-Free: {{ 'Yes' if item[9] else 'No' }} <br>
                </div>
                <br>
                <a href="{{ url_for('checkout') }}" class="checkout-btn">Buy Now</a>
            </div>
        </div>
    </body>
</html>