<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bakemates - Find Bakers Near You</title>
    <!-- STYLE INFO -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Rampart+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="landingPage" class="container">
        <img src="../static/photos/taylor-heery-71sp4JBYO-U-unsplash.jpg"> 
        <div class="title">BAKEMATES</div>
        <div class="text2">i am craving...</div>
        <button class="nav-item login-btn" onclick="location.href='login.html'">Sign In</button>
        <button class="nav-item signup-btn" onclick="location.href='signup.html'">Sign Up</button>
        <div class="search-box">
            <form action="/search" method="post">
                <input id="searchInput" type="text" name="location" placeholder="city name">
                <input id="searchInput2" type="text" name="item" placeholder="sweet treat">
                <button type="submit" class="search-btn"><div class="container"><img src="../static/photos/cupcake-icon-614x460.png"> 
                </div></button>
            </form>
        </div>
    </div>
</body>
</html>