<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bakemates-Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- just ask for username and password -->
    
    <div id="login-form">
        <!-- top of the page -->
        <a href="{{ url_for('signup') }}" class="nav-item signup-btn">Sign Up</a>
        <br><br><br>
        <h1>Welcome back</h1>
        <form action="/login" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <input type="checkbox" id="showPassword" onchange="togglePassword()">
            <label for="showPassword">Show Password</label>
            <br>
            <button type="submit">Login</button>
        </form>

        <!-- need to verify it is the correct login before redirecting -->

        
    </div>

    <script>
        function togglePassword() {
            var passwordInput = document.getElementById("password");
            var showPasswordCheckbox = document.getElementById("showPassword");
    
            if (showPasswordCheckbox.checked) {
                passwordInput.type = "text";
            } else {
                passwordInput.type = "password";
            }
        }
    </script>

</body>
</html>
