<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bakemates-Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bakemates - Find Bakers Near You</title>
    <!-- STYLE INFO -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Rampart+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- login form. should be different info for baker and buyer-->
        <!-- should add icons for each thing-->
        <!-- this website has a tutorial for that https://www.w3schools.com/howto/howto_css_form_icon.asp -->
    <div class = signup-container>
        <br><br><br>
        <div class = signup-title>Sign Up</div>
        <div class="signup-form">
            <form action="/signup" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <br>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <br>
                <label for="city">City:</label>
                <input type="text" id="city" name="city" required>
                <br>
                <button type="submit">Sign up</button>
            </form>
        </div>

        <!-- lower on the page -->
        <div class = switch-to-login>
            <h2>Already have an account?</h2>
            <a href="{{ url_for('login') }}" class="nav-item login-btn">Sign In</a>
        </div>
    </div>

</body>