<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bakemates-Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bakemates - Find Bakers Near You</title>
    <!-- STYLE INFO -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Rampart+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- login form. should be different info for baker and buyer-->
        <!-- should add icons for each thing-->
        <!-- this website has a tutorial for that https://www.w3schools.com/howto/howto_css_form_icon.asp -->
    <div class = signup-container>
        <br><br><br>
        <div class = signup-title>Sign In</div>
        <div class="signup-form">
            <form action="/signin" method="post">
             

                <div class="input-container">
                    <i class="fa fa-user icon"></i>
                    <input class="input-field" type="text" placeholder="Username" name="usrnm">
                  </div>
                
               
                  
                  <div class="input-container">
                    <i class="fa fa-key icon"></i>
                    <input class="input-field" type="password" placeholder="Password" name="psw">
                  </div>
                
                  <button type="submit" class="btn">Login</button>
            </form>
        </div>

        <!-- lower on the page -->
        <div class = switch-to-login>
            <h2>new to bakemates?</h2>
        </div>
            <a href="{{ url_for('signup') }}" class="signin-btn-2">Sign Up</a>
    </div>

</body>
